################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CourierMailSR/.vs/CourierMailSR/v15/Server/sqlite3
/CourierMailSR/packages
