<div class="modal fade modal-Sign-Express">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom:0px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Sign Receive</h4>
            </div>
            <div class="modal-body" style="max-height:600px;overflow-y:auto;margin-bottom:0px;">
                <form class="form-horizontal admin-form" role="form">

                    <div class="form-group form-inline">
                        <label class="col-lg-3 control-label">Name</label>
                        <div class="col-lg-8">
                            <div class="bs-component">
                                <input name="Name" />
                                <input name="Id" type="hidden" />
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer" style="margin-top:0px;">
                <button type="button" class="btn btn-default btn-sm btn-lg" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger btn-sm btn-lg btn-signExpressInfo">Save</button>
            </div>
        </div>
    </div>
</div>